.App {
  text-align: center;
}



.notFound {
  width: 125px; 

}

/* .bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: blanchedalmond;
} */

.lang {
  width: 20px;
  height: 20px;
}

.lang:hover {
  opacity: 70%;
  cursor: pointer;
}

.lang:active{
  padding: 12px;
}