.App {
  text-align: center;
  }

  .pilt{
    width: 100px; 
  }

  .pilt:hover{
    opacity: 0.7;
    border-radius: 10px;
    cursor: pointer;
  }

.nupu-stiil {
  background-color: green;
  color: lightgray; /* Teksti v채rv helehalliks */
  border: 10px;
  padding: 10px 20px; /* M채채rab nupu suuruse */
  border-radius: 5px; /* Nupu nurga 체mardamine */
  cursor: pointer;

}

.nupu-stiil:active{
  text-decoration: underline;
}

.nupu-stiil:hover{
  background-color: darkgreen;
  height: 50px;
  cursor: pointer;
}

/* nupu-stiil-2 */

.nupu-stiil-2 {
  background-color: beige;
  color: blue; 
  border: 10px;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
}

.nupu-stiil-2:hover {
  background-color: wheat;
  height: 50px;
  cursor: pointer;
  font-size: 12px;
  font-style: italic;
}

.nupu-stiil-3 {
  color: green;
  height: 30px;
  font-weight: bold;
  border-color: red;
  
}

.nupu-stiil-3:hover {
 cursor: pointer;
border-color:burlywood;
}
 
