/* .App {
  text-align: center;
  
} */
/*originaal kujundus*/

.nupu-stiil{
  color: rgba(255, 0, 0, 0.207);
  border: 2px double black;
  cursor: pointer;
}

/*sündmusega kujundus*/

.nupu-stiil:hover{
  color: rgba(255, 0, 0, 0.699);
  border: 3px dotted green;
}

.nupu-stiil:active{
  text-decoration: underline dotted;
  
}

.pilt {
  width: 150px;
  /* height:100px; */

}

.pilt:hover{
  opacity: 0.7;
  cursor: pointer;
  
}

.pilt:active{
  border-radius: 10px;
  
}

.kuldne{
  color: goldenrod;
}

.tume {
  background-color: black;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.hele{
  background-color: white;
  text-align: center;
  min-height: 100vh;
}