

.nupu-stiil{
  color: rgba(255, 0, 0, 0.207);
  border: 2px double black;
  cursor: pointer;
}

/*sündmusega kujundus*/

.nupu-stiil:hover{
  color: rgba(255, 0, 0, 0.699);
  border: 3px dotted green;
}

.nupu-stiil:active{
  text-decoration: underline dotted;
  
}

.pilt {
  width: 150px;
  height:100px;

}

.pilt:hover{
  opacity: 0.7;
  cursor: pointer;
  
}

.pilt:active{
  border-radius: 10px;
  
}



.kuldne{
  color: goldenrod;
}

.tume {
  background-color: rgb(140, 218, 225);
  color: white;
  text-align: center;
  min-height: 100vh;
}

.hele{
  background-color: white;
  text-align: center;
  min-height: 100vh;
}

.aktiivne {
  color: lightblue;
}

.poed{
  text-align: left;
  color: aquamarine;
}


.button-container {
  text-align: left; 
  display: flex; 
  flex-direction: initial; 
}

.sort-button {
  background-color: #5abaa4; 
  color: rgb(0, 0, 0); 
  padding: 2px 2px; 
  display: inline-block; 
  font-size: 5px; 
  margin: 2px 2px;
  cursor: pointer;
  font-weight: bold;
  
 
}

.sort-button:hover {
  background-color: rgb(69, 160, 152); 
  opacity: 0.7;
  border-radius: 10px;
}

.pilt-mitteaktiivne {
  width: 150px;
  filter: grayscale(100%);
  opacity: 0,5;
  height:100px;

}



.aktiivne-toode{
  background-color: rgb(224, 234, 224);
  border: 1px solid green; 
  width: 150px;
  height:100px;
  
}

.mitteaktiivne-toode{
  background-color: rgb(244, 233, 233);
  border: 1px solid red; 
  width: 150px;
  height:100px;
  
}

.pilt2 {
  width: 150px;
  height:100px;

}

.toode.pilt{
  width: 150px;
  height:100px;

}



